[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
jupyterlab = "*"
pandas = "*"
matplotlib = "*"
wordfreq = "*"
numpy = "*"
textblob = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.7"
